html{
    /* Styling the website  */
    background-color: grey;
    text-align: center;
    }

    /* Created a separate class for each different image to style each image differently  */
    .IceCream {
        border: 10px double teal;
        border-radius: 25%;
    }
    
    .Beach { 
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;

    }

    .Sunny { 
        background-color: white;
        background-position: center;
        padding: 20px;
        border-radius: 15px;

    }