html { 
    background-color: grey;
    font-size: 16px;
    text-align: center;
}

/* Class to style the menu  */
.Menu { 
    display: flex;
    align-items: center;
    gap: 1em;
    /* justify-content: space-between; */
    font-size: 18px;
    padding: 20px;
    background-color: bisque;
    color: #fff;

}


h1 { 
    font-size: 200%;
    color: black ;
}