
body{
    /* font-size: 400; */
    font: "Arial", 400;
}

#top{
  width: 700px;
  height: 75px;
  padding: 5px;
  background-color: #17072b;
  text-align: center;
  font-family: Tahoma;
  color: #FFFFFF
}

.sidebar {
    background-color: #172d67;
    color: #FFFFFF;
}

ul {
    margin: 0;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
  }

  footer{
    background-color: #8c15e9;
    color: #FFFFFF;
    text-align: center;
  }